{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="form-group" role="form" action="{{url_for('webbackend.productupdate', product_id=product['id']) }}"
    method="post">
    {{ form.csrf_token }}
    <div class="card-header">
      <h3 class="card-title">Изменить товар</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Модель</th>
              <th scope="col">Изменить</th>
              <th scope="col">Отменить</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{form.nameproduct(class='form-control', value = product.nameproduct)}}</td>
              <td>{{form.numberproduct(class='form-control', value = product.numberproduct)}}</td>
              <td>{{form.submit(class='btn btn-danger')}}</td>
              <td>{{form.cancel(class='btn btn-dark')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
{% endblock %}