{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="form-group" role="form" action="{{ url_for('webbackend.product') }}" method="post">
    {{ form.csrf_token }}
    <div class="card-header">
      <h3 class="card-title">Добавить товар</h3>
    </div>
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group mb-2">
          <p class="p-3 mb-2">{{form.nameproduct.label}}</p>
          <p class="p-3 mb-2">{{form.nameproduct(class='form-control')}}</p>
        </div>
        <p class="p-3 mb-2">{{form.submit(class='btn btn-primary mb-2')}}</p>
      </div>
    </div>
    <div class="card-header">
      <h3 class="card-title">Товары</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название</th>
              <th scope="col">Редактировать</th>
              <th scope="col">Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% if products %}
            {% for product in products %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ product.nameproduct }}</td>
              <td><a href="{{url_for('webbackend.productupdate', product_id=product.id) }}"><span
                    class="badge badge-warning">Редактировать</span></a></td>
              <td> <a href="{{url_for('webbackend.productdelete', product_id=product.id) }}"><span
                    class="badge badge-danger">Удалить</span></a></td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
{% endblock %}