{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="form-group" role="form" action="{{ url_for('webbackend.sale') }}" method="post">
    {{ form.csrf_token }}
    <div class="card-header">
      <h3 class="card-title">Продажа</h3>
    </div>
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.client_id.label}}</p>
          <p class="col-md-auto">{{form.client_id(class='form-control')}}</p>
        </div>
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.product_id.label}}</p>
          <p class="col-md-auto">{{form.product_id(class='form-control')}}</p>
        </div>
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.quantity.label}}</p>
          <p class="col-md-auto">{{form.quantity(class='form-control')}}</p>
        </div>
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.price.label}}</p>
          <p class="col-md-auto">{{form.price(class='form-control')}}</p>
        </div>

        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.sumprice.label}}</p>
          <p class="col-md-auto">{{form.sumprice(class='form-control')}}</p>
        </div>
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.status.label}}</p>
          <p class="col-md-auto">{{form.status(class='form-control')}}</p>
        </div>
        <div class="form-group col-md-auto">
          <p class="col-md-auto">{{form.comment.label}}</p>
          <p class="col-md-auto">{{form.comment(class='form-control')}}</p>
        </div>
        <div>
          <p class="col-md-auto">{{form.submit(class='btn btn-primary mb-2')}}</p>
        </div>
      </div>
    </div>
  </form>
  <div class="card-header">
    <h3 class="card-title">Продажи</h3>
    <form class="form-inline" role="form" action="{{ url_for('webbackend.sale') }}" method="post">
      {{ form_table.csrf_token }}
      <div class="form-group m-3">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        {{ form_table.startdate(class='form-control') }}
      </div>
      <div class="form-group mt-2">
        <p> - </p>
      </div>
      <div class="form-group m-3">
        {{ form_table.finishdate(class='form-control') }}
      </div>
      {{form_table.showdata(class='btn btn-secondary btn-sm')}}
    </form>
  </div>
  <div class="card-body">
    <div class="form-group">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата и Время</th>
            <th scope="col">Клиент</th>
            <th scope="col">Товар</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Итоговая стоимость</th>
            <th scope="col">Статус</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          {% if sales %}
          {% for sale in sales %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{ sale.date.strftime('%d-%m-%Y %H:%M') }}</td>
            <td>{{ sale.client.fullname }}</td>
            <td>{{ sale.product.nameproduct }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.price }}</td>
            <td>{{ sale.sumprice }}</td>
            {% if sale.status %}
            <td span class="badge badge-success">Выдано</td>
            {% else %}
            <td span class="badge badge-info">Не выдано</td>
            {% endif %}
            <td>{{ sale.comment }}</td>
            <td><a href="{{url_for('webbackend.saleupdate', sale_id=sale.id) }}"><span
                  class="badge badge-warning">Редактировать</span></a></td>
            <td><a href="{{ url_for('webbackend.saledelete', sale_id=sale.id) }}"><span
                  class="badge badge-danger">Удалить</span></a></td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tbody>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <p class="text-right font-weight-bold ">Общая сумма:</p>
            </td>
            <td>
              <p class="text-left font-weight-bold ">{{ sales | sum(attribute='sumprice') }}</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.ru-ru.js" type="text/javascript"></script>
<script>
  function isEmpty(str) {
    if (str.trim() == '')
      return true;

    return false;
  }
  function get_price() {
    var data = JSON.parse('{{ all_price|safe }}');
    var product_id = $('#product_id').val();
    if (product_id in data) {
      price = data[product_id];
    }
    else {
      price = 0
    }
    document.getElementById('price').value = price;;
  }

  function get_sum() {
    var jsprice = $('#price').val();
    var jsquantity = $('#quantity').val();

    if (isEmpty(jsquantity) || isEmpty(jsprice) || isNaN(jsprice) || isNaN(jsquantity) || (jsquantity.indexOf(',') != -1)) {
      var jssumprice = 0;
    }
    else {
      var jssumprice = parseFloat(jsprice) * parseFloat(jsquantity);
    }
    document.getElementById('sumprice').value = jssumprice.toFixed(2);
  }
  document.getElementById('product_id').onchange = get_price;
  quantity.addEventListener('keyup', get_sum);
  price.addEventListener('keyup', get_sum);

  $('#startdate').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd.mm.yyyy',
    autoclose: true,
    locale: 'ru-ru',
  });

  $('#finishdate').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd.mm.yyyy',
    autoclose: true,
    locale: 'ru-ru',
  });     
</script>
{% endblock %}