{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="form-group" role="form" action="{{url_for('webbackend.stockdelete', stock_id=stock['id']) }}"
    method="post">
    {{ form.csrf_token }}
    <div class="card-header">
      <h3 class="card-title">Удалить</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Дата и Время</th>
              <th scope="col">Название акции</th>
              <th scope="col">Клиент</th>
              <th scope="col">Наименование товара</th>
              <th scope="col">Количество</th>
              <th scope="col">Комментарий</th>
              <th scope="col">Удалить</th>
              <th scope="col">Отменить</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ stock.date.strftime('%d-%m-%Y %H:%M') }}</td>
              <td>{{ stock.client.fullname }}</td>
              <td>{{ stock.namestock }}</td>
              <td>{{ stock.nameproduct }}</td>
              <td>{{ stock.quantity }}</td>
              <td>{{ stock.comment }}</td>
              <td>{{form.submit(class='btn btn-danger')}}</td>
              <td>{{form.cancel(class='btn btn-dark')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
{% endblock %}